body {
	font-family: helv, arial, verdana, sans-serif;
	font-size: 66%;
	color: #1e1903;
	margin: 0;
	padding: 0;
}

#msg {
	font-family: helv, arial, verdana, sans-serif;
	font-size: 1.8em;
	color: navy;
	text-align: center;
}

#content {
	position: relative;
	width: 761px;
	margin: 0 auto;
	padding: 0;
}

#content form {
	margin-left: 30px;
	margin-right: 30px;
}

fieldset {
	margin: 10px 0 0 0;
	padding: 0;
	background: transparent url(imagem_form.jpg) no-repeat bottom right;
}

legend {
	text-transform: uppercase;
	font-size: 1.3em;
	padding: 5px;
	margin-left: 1em;
	color: #ffffff;
	background: #191970;
}

fieldset ol {
	padding: 10px 10px 0 10px;
	list-style: none;
}

fieldset li {
	position: relative;
	padding-bottom: 1em;
	line-height: 3.4em;
}

label {
	position: relative;
	clear: left;
	float: left;
	width: 15em;
	margin-right: 5px;
	padding-right: 5px;
	line-height: 3.4em;
	text-align: right;
}

label.required {
	background: transparent url(formularios_campoobrigatorio.gif) no-repeat
		center right;
}

input {
	padding: 5px;
	font-size: 1.4em;
	border: 1px solid #191970;
	color: #e1903;
	background: #E6E6FA;
}

input.radio {
	border: none;
	background: transparent;
}

select {
	padding: 1px;
	font-size: 1.4em;
	border: 1px solid #191970;
	color: #e1903;
	background: #E6E6FA;
}
/*
h1{
	color:#191970;
	font-family:sans-serif;
	text-align:center;
	text-transform: uppercase;
}
*/
p {
	font-family: "Times New Roman";
	font-size: 20px;
}

#formularioLogin {
	width: 350px;
	text-align: right;
	text-decoration: none;
	font-family: serif;
	font-size: 20px;
	color: white;
	background-color: #4682B4;
}


menuvertical{
	border: 1px solid #191970;	
	background: #E6E6FA;
	border-bottom-width: 0;
	width: 170px;	
}


h1{font:bold 5em Arial, Helvetica, sans-serif; text-align:center; margin:30px 0 0 0; background:#333; color:#fff; padding:10px; letter-spacing:-0.07em; text-shadow:0px 0px 5px #eaeaea; }
.menu{list-style:none; margin:20px 0 0 350px; border:1px solid #c0c0c0; float:left; }
.menu li{position:relative; float:left; border-right:1px solid #c0c0c0;}
.menu li a{font-size:1.3em;  color:#333; text-decoration:none; padding:5px 10px; display:block;}
.menu li a:hover{background:#333; color:#fff; -moz-box-shadow:0 3px 10px 0 #CCC; -webkit-box-shadow:0 3px 10px 0 #ccc; text-shadow:0px 0px 5px #fff; }
.menu li ul{position:absolute; top:23px; left:-20px; background-color:#fff; display:none; }
.menu li:hover ul ul{display:none;}
.menu li:hover ul, .menu li ul li:hover ul, .menu li.over ul, .menu li ul li.over ul{display:block;}
.menu li ul li{border:1px solid #c0c0c0; display:block; width:110px;}
li.border0{border:0;}
.menu li ul li ul{z-index:900; top:0; left:110px; background:#eaeaea;}
body {behavior:url(csshover.htc); } 
/*Fix IE. Hide from IE Mac\*/
* html .menu {margin-left:175px; }
/*End*/
