<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Odonto</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>controle.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFace</display-name>
    <servlet-name>ServletFace</servlet-name>
    <servlet-class>controle.ServletFace</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFace</servlet-name>
    <url-pattern>/ServletFace</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPrincipal</display-name>
    <servlet-name>ServletPrincipal</servlet-name>
    <servlet-class>controle.ServletPrincipal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPrincipal</servlet-name>
    <url-pattern>/ServletPrincipal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletElemento</display-name>
    <servlet-name>ServletElemento</servlet-name>
    <servlet-class>controle.ServletElemento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletElemento</servlet-name>
    <url-pattern>/ServletElemento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRecepcionista</display-name>
    <servlet-name>ServletRecepcionista</servlet-name>
    <servlet-class>controle.ServletRecepcionista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRecepcionista</servlet-name>
    <url-pattern>/ServletRecepcionista</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConvenio</display-name>
    <servlet-name>ServletConvenio</servlet-name>
    <servlet-class>controle.ServletConvenio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConvenio</servlet-name>
    <url-pattern>/ServletConvenio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDentista</display-name>
    <servlet-name>ServletDentista</servlet-name>
    <servlet-class>controle.ServletDentista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDentista</servlet-name>
    <url-pattern>/ServletDentista</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFornecedor</display-name>
    <servlet-name>ServletFornecedor</servlet-name>
    <servlet-class>controle.ServletFornecedor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFornecedor</servlet-name>
    <url-pattern>/ServletFornecedor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPaciente</display-name>
    <servlet-name>ServletPaciente</servlet-name>
    <servlet-class>controle.ServletPaciente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPaciente</servlet-name>
    <url-pattern>/ServletPaciente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConsulta</display-name>
    <servlet-name>ServletConsulta</servlet-name>
    <servlet-class>controle.ServletConsulta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConsulta</servlet-name>
    <url-pattern>/ServletConsulta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletProcedimento</display-name>
    <servlet-name>ServletProcedimento</servlet-name>
    <servlet-class>controle.ServletProcedimento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProcedimento</servlet-name>
    <url-pattern>/ServletProcedimento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAcesso</display-name>
    <servlet-name>ServletAcesso</servlet-name>
    <servlet-class>controle.ServletAcesso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAcesso</servlet-name>
    <url-pattern>/ServletAcesso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletOdontograma</display-name>
    <servlet-name>ServletOdontograma</servlet-name>
    <servlet-class>controle.ServletOdontograma</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletOdontograma</servlet-name>
    <url-pattern>/ServletOdontograma</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRelatorio</display-name>
    <servlet-name>ServletRelatorio</servlet-name>
    <servlet-class>controle.ServletRelatorio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRelatorio</servlet-name>
    <url-pattern>/ServletRelatorio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPrescricao</display-name>
    <servlet-name>ServletPrescricao</servlet-name>
    <servlet-class>controle.ServletPrescricao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPrescricao</servlet-name>
    <url-pattern>/ServletPrescricao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletInquerito</display-name>
    <servlet-name>ServletInquerito</servlet-name>
    <servlet-class>controle.ServletInquerito</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInquerito</servlet-name>
    <url-pattern>/ServletInquerito</url-pattern>
  </servlet-mapping>
</web-app>