<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/odonto</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">odonto</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
   
    <mapping class="modelo.Consulta"/>
    <mapping class="modelo.Convenio"/>
    <mapping class="modelo.Dentista"/>
    <mapping class="modelo.Disponibilidade"/>
    <mapping class="modelo.Elemento"/>
    <mapping class="modelo.Face"/>
    <mapping class="modelo.Fornecedor"/>
    <mapping class="modelo.InqueritoOdontologico"/>
    <mapping class="modelo.Odontograma"/>
    <mapping class="modelo.OdontogramaProcedimento"/>
    <mapping class="modelo.Paciente"/>
    <mapping class="modelo.Pagamento"/>
    <mapping class="modelo.Prescricao"/>
    <mapping class="modelo.Procedimento"/>
    <mapping class="modelo.TelefoneFornecedor"/>
    <mapping class="modelo.TelefonePaciente"/>
    <mapping class="modelo.Usuario"/>
    
    
 </session-factory>
</hibernate-configuration>
